﻿@charset "utf-8"; 
/* Design based on the GPL licensed Pixel theme by http://samk.ca
/* Foundational CSS based on the Framework theme by Andre Griffen
/* Drupal specific CSS and additional styling by Steve J Bayer

/*----------------------------------------------------------------
[Table of contents]

 1.Global
 2.Layout
 3.Header
 4.Navigation
 5.Nodes
 6.Comments
 7.Sidebars
 8.Blocks
 9.Footer
10.CSS Support
11.Administration
12.Contributed Modules

[Color codes]

 Typography
 # Dark Grey:        #333
 # Dark Blue:        #069
 # Pink:             #f66

 Layout
 # Mid Blue:         #b4d7f0
 # Light Blue:       #d4e7f3
 # Very Light Blue:  #edf5fa

[Font sizes - based on 75% body]

26px = 2.166667em
24px = 2em
22px = 1.8333em
21px = 1.75em
20px = 1.6667em
19px = 1.5833em
18px = 1.5em
17px = 1.416667em
16px = 1.333333em
15px = 1.25em
14px = 1.1667em
13px = 1.083333em
12px = 1em
11px = .9167em
10px = .8333em

Equasion for font sizing: 
-Desired in px ÷ Default (or parent) in px = sizing in em

----------------------------------------------------------------*/

/**
 * 1.GLOBAL
 */
 placeholder{}
 
body {
background:url("images/bgbody.jpg") no-repeat scroll center top #000000;
color:#EFEFEF;
font-family:trebuchet ms,arial,helvetica,sans-serif;
margin:0;
padding:0 0 15px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
color:#FFFFFF;
font-family:verdana;
font-size:16pt;
margin:0.5em 0;
}

h2 {
  font-size:15pt;
  padding:10px 0;
}

h2.teaser-title a,
h2.teaser-title a:visited,
h2.teaser-title a:link{
color:#FFFFFF;
font-size:15pt;
font-weight:normal;
letter-spacing:-2px;
text-decoration:none
}

h2.teaser-title a:hover{
color:#ABD1EA
}

h3 {
  font-size: 1.333333em;
  margin: .5em 0;
}

h4 {
  font-size: 1.1667em;
  margin: .5em 0;
}

a:link, a:visited {
  color: #FFF;
  text-decoration: underline;
}

a:focus {
  outline: 1px dotted;
}

a:hover, a:active, li a.active {
  color: #EEE;
  outline: none;
  text-decoration: underline;
}

p {
  font-size: 9pt;
  line-height: 1.5em;
  margin: 0;
  padding:6px 0;
}

blockquote {
  margin: 1.25em;
  padding: 1.25em 1.25em 0 1.25em;
}

em {
  padding: 0 3px 0 0;
}

hr {
  background: #7f7f7f;
  border: none;
  height: 1px;
  margin: 0;
  padding: 0;
}

img, a img {
  border: none;
  outline: none;
}

/**
 * 2.LAYOUT
 */
#wrapper {
  margin: 0 auto;
  width: 960px;
}

#container {
clear:both;
margin:5px 15px 0;
padding-bottom:5px;
width:930px;
}

/* 1 column */
#center {
float:left;
margin:0 0 15px;
padding:0;
width:560px;
}

/* 3 columns */
body.sidebars #center {
  float: left;
  padding: 0 10px;
  width: 600px;
}

/* 2 columns - sidebar-left */
body.sidebar-left #center {
float:right;
margin:0 0 15px;
padding:0;
width:560px;
}

/* 2 columns - sidebar-right */
body.sidebar-right #center {
float:left;
margin:0 0 15px;
padding:0;
width:625px;
}

#center  .content a:hover,
#sidebar-right .content a:hover,
footer .content a:hover{
color:#6598B8;
text-decoration:underline
}



/**
 * 3.HEADER
 */
header {
  margin: 0;
}

header#page-header{
  height:74px;
  margin:10px 0;
}


header ,nav{display:block}

header h1 {
  float: left;
}

header #logo {
  float: left;
  padding: 15px 10px 0 0;
}

header #sitename {
  display: block;
}

header #siteslogan {
  display: block;
  font-size: .75em;
}

#search-theme-form {
float:right;
margin:8px 0 0;
}
#search-theme-form  input{
background-color:#FFFF9D;
}


#search-theme-form .form-button, 
#search-theme-form .form-submit{
background:#050505 none repeat scroll 0 0;
border:1px solid #111111;
color:#FFFFFF;
font-size:8pt;
margin:0 0 0;
padding:5px 6px;
}

#search-theme-form  .form-item label {
color:#FFFFFF;
font-size:14pt;
font-weight:normal;
letter-spacing:-1px;
margin:0 10px;
padding:10px 0 3px;}

/**
 * 4.NAVIGATION
 */
ul.links li {
  background: none;
  margin: 0 10px 0 0;
  padding: 0;
}

div#nav-container{
height:46px;
}

nav {
float:left;
font-size:1em;
line-height:46px;
margin:6px 0;
}

nav ul.primary-links {
  padding: 0px;
}

nav ul.primary-links li {
  float:left;
  margin: 0;
  padding: 0;
  
}

nav ul.primary-links li a:link, nav ul.primary-links li a:visited {
color:#FFFFFF;
display:block;
font-size:10pt;
letter-spacing:-1px;
line-height:44px;
margin:0 15px 0 20px;
padding:0;
 text-decoration: none; 
}

nav ul.primary-links li a:hover, nav ul.primary-links li a:active {
color:#6598B8;
  text-decoration: none;
}

nav ul.secondary-links {
  border-top: 1px solid #b4d7f0;
  padding: 2px 5px;
}

nav ul.secondary-links li {
  margin: 0;
  padding: 0;
}

nav ul.secondary-links li a:link, #nav ul.secondary-links li a:visited {
  margin: 0 10px 0 0;
  padding: 2px 0;
}

nav ul.secondary-links li a:hover, #nav ul.secondary-links li a:active {
  text-decoration: underline;
}

div#RSS-Container{
float:right;
margin:19px 20px 0;
}

/*negative margin keeps from pushing node h2 titles down*/
.breadcrumb {
color:#CCCCCC;
display:block;
font-size:1em;
padding:0
}

.breadcrumb a:link, .breadcrumb a:visited {
  color: #AAA;
  text-decoration:none;
}

.breadcrumb a:hover {
  color: #FF9933;
  text-decoration:underline
}

/**
 * 5.NODES
 */
 
article{
  display:block;
  margin-bottom:20px
}

#center article header h2:hover, #center h2.teaser-title a:hover{color:#ABD1EA}

.submitted a:hover {
  color:#CCC;
  text-decoration:underline
}
 
div.submitted {
  display: block;
  color:#CDCDCD;
  font-size:9pt;
  margin:-10px 0 0;
  padding:0;
}

span.submitted a:hover{color:#CCCCCC}

.node .picture {
  float: left;
  margin: .3em .5em .1em 0;
}

section#center .node .content{
  display:block;
  margin:8px 0;
}

.meta {
  margin: 0 0 1px;
  padding: 0;
}

.meta div.links {
  float: left;
}

.meta div.terms {
  float: right;
}

.meta div.links ul.links li {
background:url("images/bg-trans.png") repeat scroll 0 0 transparent;
border:1px solid #111111;
color:#FFFFFF;
font-size:9pt;
font-style:italic;
line-height:27pt;
margin-right:5px;
padding:8px 10px;
float:left;
}

.meta div.terms ul.links li {
  float: left;
  padding: 5px 0 5px 10px;
}

.node_read_more {
  font-weight: bold;
}

.item-list ul.pager {
  margin: 1em 0;
}

.item-list ul.pager li {
  margin: 0;
  padding: 0;
}

.item-list ul.pager li a:link, .item-list ul.pager li a:visited, .item-list ul.pager li.pager-current {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  color: #999;
  font-size: .8333em;
  font-weight: 700;
  margin: .3em .1em;
  padding: .3em .5em;
}

.item-list ul.pager li a:hover, .item-list ul.pager li a:active {
  border: 1px solid #999;
  color: #666;
}

.item-list ul.pager li.pager-current {
  background-color: #069;
  border: 1px solid #069;
  color: #fff;
}

/**
 * 6.COMMENTS
 */
#comments h2.comments {
  margin: .5em 0 -15px;
} 

.comment {
  margin: 20px 0 0;
  padding: 0;
}

.comment-bar {

  padding: 5px;
  position: relative;
}

.comment-bar .submitted{font-size:9pt}

.comment-bar .submitted a{

color:#6598B8
}

.comment span.submitted {
color:#999999;
display:inline;
font-size:9pt;
margin:0;
}

.comment span.new {
  color: red;
  font-size: .8333em;
}

.comment h3 a{
color:#DDDDDD;
font-size:10pt;
font-style:normal;
}

.comment .content {
  padding: 5px;
}

.comment .picture {
  float: right;
  margin: .3em 0 .1em .3em;
}

.comment h3 {
  font-size: 1.1667em;
  margin: .5em 5px 0;
}

.comment ul.links {
  margin: -10px 0 0 25px;
}

.comment ul.links li a {
  text-decoration: underline;
}

.indented {
  border-left: 1px solid #ddd;
  margin-left: 14px;
  padding-left: 5px;
}

/**
 * 7.SIDEBARS
 */
.sidebar, aside .block{
width:280px;
}

aside#sidebar-right {
display:block;
float:right;
}


/**
 * 8.BLOCKS
 */
section.block {
background:url("images/bg-trans.png") repeat scroll 0 0 transparent;
color:#EEEEEE;
margin:15px 0 0;
padding:0 0 12px;
}

aside .block{float:right;}

aside a:link,
aside a:visited{text-decoration:none}

.block h3 {
color:#FFFFFF;
font-size:14pt;
font-weight:normal;
letter-spacing:-1px;
margin:0 10px;
padding:10px 0 3px;
}

.block  .content{
display:block;
margin:0 10px;
}

#center .book-navigation a:hover{color:#6598B8}
.block ul li a:hover{color:#6598B8}

#user-login-form .item-list ul li {
  background: none;
  padding: 0;
}

#search-block-form .form-text {
  width: 8em;
}

#search-block-form input.form-submit {
  font-size: .9em;
  width: 5em;
  padding: 0;
}

/**
 * 9.FOOTER
 */
footer {
display:block;
margin:0 0 10px;
padding:5px 0;
position:relative;
}

footer a.feed-icon {
  position: absolute;
  right: 0;
  top: 5px;
}

footer #block-system-0 {
  position: absolute;
  right: 25px;
  top: 6px
}

.footer-section{
clear:both;
display:block;
margin-bottom:8px
}

footer .columns {
float:left;
margin-right:45px;
width:280px
}

#footer3,#footer5,#footer7{margin-right:0}

#footer5,#footer6 {width:604px}



/**
 * 10.CSS SUPPORT
 */
 

span.clear     { clear: both; display: block; font-size: 0; height: 1px; line-height: 0; margin-bottom: -1px; }
.clear         { clear: both; }
.clear-block   { display: block; }
.float-left    { float: left; }
.float-right   { float: right; }

.text-left     { text-align: left; }
.text-right    { text-align: right; }
.text-center   { text-align: center; }
.text-justify  { text-align: justify; }

.bold          { font-weight: bold; }
.italic        { font-style: italic; }
.underline     { border-bottom: 1px solid; }
.highlight     { background: #ffc; }

.wrap          { width: 960px; margin: 0 auto; }

.img-left      { float: left; margin: 4px 10px 4px 0; }
.img-right     { float: right; margin: 4px 0 4px 10px; }

.nopadding     { padding: 0 }
.noindent      { margin-left: 0; padding-left: 0 }
.nobullet      { list-style: none; list-style-image: none; }

/**
 * 11.ADMINISTRATION
 */

/* lists */
dl { margin: .5em 0 1em; padding: 0; }
dl dd { margin: 0 0 .5em 1.5em; }
ol { margin: .5em 0 1em; padding: 0 0 0 1.5em; }
ol li { margin: .15em 0 .15em .5em; padding: 0 0 .2em; }
ol ul li { margin-left: .5em; padding: 0 0 .2em 1.5em; }
ul { margin: .5em 0 1em; padding: 0; }
.item-list ul { margin: .35em 0 0 -.5em; padding: 0; }
.item-list ul ul { margin-left: 0; }
ul li, ul li.leaf, .item-list ul li { background: transparent url("images/menu-leaf.gif") no-repeat 1px .35em; list-style-image: none; list-style-type: none; margin: .15em 0 .15em .5em; padding: 0 0 .2em 1.5em; }
ul li.expanded { background: transparent url("images/menu-expanded.gif") no-repeat 1px .35em; }
ul li.collapsed { background: transparent url(images/menu-collapsed.gif) no-repeat 0 .35em; }
ul li.leaf a, ul li.expanded a, ul li.collapsed a { display: block; }
ul.inline li { background: none; margin: 0; padding: 0 1em 0 0; }
ul ol li { background: none; list-style-type: decimal; margin-left: 2em; padding: 0 0 .2em; }
ul ul li { margin-left: 2em; }

/* menu */
ul.menu { margin: 0; padding: 0; }
ul.menu li { background-position: .3em .6em; list-style-image: none; list-style-type: none; margin: 0; padding: .1em 0 .1em 0; }
ul.menu li a { padding: .1em 0 .1em 1.5em; }
ul.menu li ul li { background-position: 1.5em .6em; }
ul.menu li ul li a { padding-left: 2.7em; }
ul.menu li ul li ul li { background-position: 2.7em .6em; }
ul.menu li ul li ul li a { padding-left: 3.9em; }
ul.menu li ul li ul li ul li { background-position: 3.9em .6em; }
ul.menu li ul li ul li ul li a { padding-left: 5.1em; }
ul.menu li.expanded { padding-bottom: 0; }
ul.menu li.expanded ul { margin-top: .1em; }


/* legacy list support -- MUST COMMENT OUT [LISTS/MENU/ZEBRA COLORING] ABOVE -- remove brackets around asterisk to enable -- [*]/
ul { margin: .5em 0 1em; padding: 0; }
ol { margin: .75em 0 1.25em; padding: 0; }
ol li, ul li { margin: .4em 0 .4em .5em; }
ul.menu, .item-list ul { margin: .35em 0 0 -.5em; padding:0; }
ul.menu ul, .item-list ul ul { margin-left: 0; }
ol li, ul li, ul.menu li, .item-list ul li, li.leaf { margin: .15em 0 .15em .5em; }
ul li, ul.menu li, .item-list ul li, li.leaf { background: transparent url(images/menu-leaf.gif) no-repeat 1px .35em; list-style-image: none; list-style-type: none; padding: 0 0 .2em 1.5em; }
ol li { margin-left: 2em; padding: 0 0 .3em; }
ul li.expanded { background: transparent url(images/menu-expanded.gif) no-repeat 1px .35em; }
ul li.collapsed { background: transparent url(images/menu-collapsed.gif) no-repeat 0 .35em; }
ul li.leaf a, ul li.expanded a, ul li.collapsed a { display: block; }
ul.inline li { background: none; margin: 0; padding: 0 1em 0 0; }
dl { margin: .5em 0 1em 1.5em; }
dl dd { margin: 0 0 .5em 1.5em; }
/* end legacy list support */

/* admin tab links */
ul.primary, ul.primary li, ul.secondary, ul.secondary li { background: none; border: 0; margin: 0; padding: 0; }
ul.secondary { border-bottom: 1px solid #b4d7f0; clear: both; margin: 0 0 1em; padding: .5em 0; text-align: left; }
ul.primary li a, ul.primary li.active a, ul.primary li a:hover, ul.primary li a:visited, ul.secondary li a, ul.secondary li.active a, ul.secondary li a:hover, ul.secondary li a:visited { background: none; border: 0; margin: 0; padding: 0 1em 0 0; text-decoration: none; }
ul.primary li.active a, ul.secondary li.active a { font-weight: 700; }

/* position admin tab links and style admin h2 */
#tabs-wrapper { margin: 0; padding: 0; }
h2.with-tabs { margin-bottom: 0; }
#tabs-wrapper ul.tabs { margin: 0 0 .5em; padding: 0; }

/* stuff you probably will not need to change - includes admin coloring */
quote, code, fieldset { margin: .5em 0; }

input,
html.js .resizable-textarea textarea{
background:url(images/bg-trans.png) repeat scroll 0 0 transparent;
border:1px solid #343434;
color:#EFEFEF;
}

textarea, select { color: #494949; font: 1em Verdana, sans-serif; }
fieldset ul.clear-block li { background-image: none; margin: 0; padding: 0; }
fieldset {border: 1px solid #d4e7f3; margin: 1em 0; padding: 1em; }
fieldset legend { display: block; }
html.js fieldset.collapsed { background: transparent; padding-bottom: .6em; padding-top: 0; }
html.js fieldset.collapsible legend a { background: url(images/menu-expanded.gif) no-repeat 0 50%; padding-left: 2em; }
html.js fieldset.collapsed legend a { background: url(images/menu-collapsed.gif) no-repeat 0 50%; }

table { margin: 1em 0; width: 100%}
thead th { border-bottom: 2px solid #FF9933; color: #101010; font-weight: 700; }
tbody { border-top:none; }
th a:link, th a:visited { color: #7f7f7f; }
td, th { padding: .3em .5em; }
tr.even, tr.odd, tbody th { border: solid #000; border-width: 1px 0; }
tr.odd, tr.info { background-color: #333; }
tr.even { background-color: #666; }
tr.drag { background-color: #fffff0; }
tr.drag-previous {background-color:teal;}
tr.odd td.active { background-color: #333; }
tr.even td.active { background-color: #666; }

.poll .vote-form .choices {
margin:0;
}

.poll .vote-form ,
.poll .vote-form .choices {
text-align:left;
}

td.region, td.module, td.container, td.category { background:transparent url(images/bg-trans.png) repeat scroll 0 0;
 color: #666;
 font-weight: 700; }

tr:first-child td.region, tr:first-child td.module, tr:first-child td.container, tr:first-child td.category { border-top-width: 0; }
tr.odd td.menu-disabled { background-color: #edf5fa; }
tr.even td.menu-disabled { background-color: #fff; }
tr.selected td a:link, tr.selected td a:visited, tr.selected td a:active { color: #d4e7f3; }
tr.taxonomy-term-divider-top { border-bottom: none; }
tr.taxonomy-term-divider-bottom { border-top: 1px dotted #ccc; }

#autocomplete li { cursor: default; margin: 0; padding: 2px; }
#autocomplete li.selected, tr.selected td, tr.selected td.active { background: #027ac6; color: #fff; }
.form-checkboxes, .form-radios, .form-checkboxes .form-item, .form-radios .form-item { margin: .25em 0; }
#center form { margin-bottom: 2em; }
.form-button, .form-submit { margin: 2em .5em 1em 0; }
#dblog-form-overview .form-submit, .confirmation .form-submit, .search-form .form-submit, .poll .form-submit, fieldset .form-button, fieldset .form-submit, .sidebar .form-button, .sidebar .form-submit, table .form-button, table .form-submit { margin: 0; }

div.admin-panel, div.admin-panel .description, div.admin-panel .body, div.admin, div.admin .left, div.admin .right, div.admin .expert-link, div.item-list, .menu { margin: 0; padding: 0; }
div.admin h3 { margin-bottom: 0; }
div.admin .left { float: left; width: 48%; }
div.admin .right { float: right; width: 48%; }
div.admin-panel { background: none; padding: 1em 1em 1.5em; }
div.admin-panel .description { margin-bottom: 1.5em; }
div.admin-panel dl { margin: 0; }
div.admin-panel dd { color: #898989; font-size: .92em; line-height: 1.3em; margin-bottom: .65em; margin-top: -.2em; }

.messages { background: transparent url(images/bg-trans.png) repeat scroll 0 0; border: 1px solid #b8d3e5; }
.preview { background: transparent url(images/bg-trans.png) repeat scroll 0 0; border: 1px solid #e5e58f; }
.preview .node { background-color: #fcfce8; }

span.form-required { color: #ffae00; }
.description { color: #CCC; font-size: .92em; line-height: 150%; margin-bottom: .75em; }
.messages, .preview { margin: .75em 0; padding: .5em 1em; }
.messages ul { margin: 0; }
.box { margin-bottom: 2.5em; }
.profile dd { margin-bottom: 1.6em; }
.profile h3 { border-bottom: none; }

div.status { border-color: #c7f2c8; color: #33a333; }
div.error, tr.error { background-color: #fcc; color: #a30000; }
.form-item input.error, .form-item textarea.error { border: 1px solid #c52020; color: #363636; }
table.system-status-report th { border-color: #000; }
table.system-status-report tr.error, table.system-status-report tr.error th { background-color: #fcc; border-color: #ebb; color: #200; }
table.system-status-report tr.warning, table.system-status-report tr.warning th {border-color: #eeb; }
table.system-status-report tr.ok, table.system-status-report tr.ok th { background-color: #4D7251; border-color: #00B52A; }

table.system-status-report tr.ok{color:#EEE}

table.system-status-report tr.ok a:link,
table.system-status-report tr.ok a:visited{color:#EEE}

table.system-status-report tr.ok th {color:#FFF}

div#first-time{margin-top:15px;}
div#first-time a:hover{color:#FF9933}


table.system-status-report tr.merge-up td,
table.system-status-report tr.merge-up td {
  color:#EEEEEE;
}

.meta .links li, .form-submit, .teaser-button{
  background:url("images/bg-trans.png") repeat scroll 0 0 transparent;
  background:-moz-linear-gradient(center top , #2A2A2A, #000000) repeat scroll 0 0 transparent; /* FF3.6 */
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0, #2A2A2A),color-stop(1, #000000)); /* Saf4+, Chrome */
  border:1px solid #111111;
  color:#FFFFFF;
  font-size:9pt;
  font-style:italic;
  /* line-height:27pt; */
  margin-right:5px;
  padding:8px 10px;
}

.form-submit{ 
 background:-moz-linear-gradient(center top , #666666, #000000) repeat scroll 0 0 transparent; /* FF3.6 */
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0, #666666),color-stop(1, #000000));
  border:1px solid #111111;
  -moz-border-radius: 6px; /* FF1+ */
  -webkit-border-radius: 6px; /* Saf3+, Chrome */
  border-radius: 6px; /* Opera 10.5, IE 9 */
  font-style:normal;
  }
  
  .form-submit:hover{color:#FF9933}


.meta .links li a{text-decoration:none}

#center .meta .links li a:hover{
  color:#FFF;
  text-decoration:underline
}

.meta .links li a:hover,
.form-submit a:hover,
.teaser-button a:hover{
  color:#FF9933
}

.meta .links li.comment_forbidden {
  background:none;
  border:none;
}

.meta .links li.comment_forbidden a{
  text-decoration:underline
}

#center .meta .links li.comment_forbidden a:hover{color:#6598B8;}


.node-unpublished {
  background-color:#666666;
  padding:8px;
}

div.warning a,
div.warning a:link,
div.warning a:visited{
color: #000000;
text-decoration:underline
}

div.project a:link,
div.project a:visited,
table.update a:link,
table.update a:visited{
color: #000000
}

div.admin-dependencies, div.admin-required {
color:#AAAAAA;
font-size:0.9em;
}

.block-region {
background-color:teal;
font-size:15pt;
}

/**
* 12.CONTRIBUTED MODULES
*/

#fsUploadProgress .progressContainer {background-color:#000000}

div.changed {
background-color:orange;
font-weight:bold;
}

.views-display .top {
background:none repeat scroll 0 0 #333333;
color:#FFFFFF
}

.views-tabset .views-display {
background:none repeat scroll 0 0 #000000;
border:1px solid #333333
}

.views-display .tab-section .inside .views-category {
background:none repeat scroll 0 0 #0A0A0A;
border:1px solid #333333;
color:#CCCCCC;
}
.views-tabset .views-tabs {
background:none repeat scroll 0 0 #0A0A0A;}

.views-display .tab-section .inside .views-category-title {
background-color:#101010;
border-bottom:1px solid #999999;
}

.views-tab-area{background-color:#101010;}

table.view-enabled td.view-name, table.view-enabled td.view-ops {
background:none repeat scroll 0 0 #333333;
color:#FFFFFF;
}

.views-display .tab-section .inside .views-category {border:1px solid #333333;}

table.views-entry td.view-ops,table.views-entry td.view-name {
background-color:#333333;
color:#494949
}

table.views-entry {
background-color:#999999;
}

.views-display {
background:none repeat scroll 0 0 #000000;
}

#fbsmp-wrapper-replace{clear:both}

#fbsmp-wrapper-replace .form-submit{margin:0.5em 0.5em 0.5em 0;}

#facebook-status-box #edit-fbss-status, 
#facebook-status-edit #edit-fbss-status {
background:url("images/bg-trans.png") repeat scroll 0 0 transparent;
border:1px solid #333333;
color:#FFFFFF;
float:left;
margin:0.5em 0.5em 0 0;
padding:0.25em;
}

#fbsmp-link-icon, #fbsmp-photo-icon{float:left}

#facebook-status-box #edit-fbss-submit, 
#facebook-status-edit #edit-fbss-submit {clear:both;}



/**
* 13.Support for External apps
**/
